.App {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* color: #ff7d36; */

  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),
      url("../public/carrotCaracter.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}







